<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar contacto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 <ion-item>
  <ion-input label="Nombres" [(ngModel)]="txt_nombre" type="text" ></ion-input>
 </ion-item>
 <ion-item>
  <ion-input label="Apellidos" [(ngModel)]="txt_apellido" type="text" ></ion-input>
 </ion-item>
 <ion-item>
  <ion-input label="Telefono" [(ngModel)]="txt_telefono" type="text"></ion-input>
 </ion-item>
 <ion-item>
  <ion-input label="E-mail" [(ngModel)]="txt_email" type="E-mail"></ion-input>
 </ion-item>
 <ion-item>
  <ion-button color="success" (click)="actualizar()">Actualizar</ion-button>
  <ion-button color="warning" (click)="cancelar()">Cancelar</ion-button>
 </ion-item>
</ion-content>