<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recovery Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Welcome to recovery Account</ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="note-info-text">
      To regain access to your account, please follow these steps:
      <br />
      1) Enter your email address and press 'Enter'.<br />
      2) Kindly provide the answer to the security question associated with your
      email address, which was selected during the account creation process.
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-note class="note-text" slot="start">email: </ion-note>
    <ion-input
      type="text"
      [(ngModel)]="inputEmail"
      (keydown.enter)="getRecoverInfo(); focusSecurityAnswerInput();"
    >
    </ion-input>
  </ion-item>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        Write the answer to the following Security Question
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-note class="note-text" slot="start">Security Question: </ion-note>
      <ion-input
        class="label-background"
        type="text"
        [(ngModel)]="securityQuestion"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-note class="note-text" slot="start">Security Answer: </ion-note>
      <ion-input
        #securityAnswerInput
        type="text"
        [(ngModel)]="inputSecurityAnswer"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-button
        class="secondary"
        expand="block"
        (click)="cancelar()"
        style="margin-right: 15px"
        >Cancel</ion-button
      >
      <ion-button class="success" expand="block" (click)="validateAccount()"
        >Validate Account</ion-button
      >
    </ion-item>
  </ion-item-group>
</ion-content>
