.label-background {
    background-color: #e4dfdf; 
    padding: 5px; /*Additonal space*/
    border-radius: 5px; /* rounded borders */
    display: inline-block; /* match needed space */
  }

  .note-text {
    font-size: 16px; 
    font-weight: normal; 
    color: #333; 
  }