.opciones{
  font-family: 'monospace';
  font-size: 15px;
  text-align: center;
  color: #336699;

}
.titulo{
  font-family: 'monospace';
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #5a3399;
  margin-top: 10px;
}
.etiqueta{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #339969;
  margin-top: 10px;
}

